@model List<Product>

    <h2>Produkter</h2>
    <a href="/Products/Create">Lägg till ny produkt</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Namn</th>
                <th>Pris</th>
                <th>Beskrivning</th>
                <th>Redigera</th>
                <th>Ta bort</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Id</td>
                    <td>@product.Name</td>
                    <td>@product.Price</td>
                    <td>@product.Description</td>
                    <td><a href="/Products/Edit/@product.Id">Redigera</a></td>
                    <td><a href="/Products/Delete/@product.Id">Ta bort</a></td>
                </tr>
            }
        </tbody>
    </table>
